

$menu-height: 45px;

// Breakpoint toggling

.desktop-menu, 
.top-bar-left {
	@include show-for(medium);
	}

#mobile-menu, 
.mobile-menu, 
.title-bar {
	@include hide-for(medium);
	}



// MOBILE menu - off canvas

.off-canvas {

	> ul.menu {
		height: 100vh;
		padding: 1rem;

		a {
			color: $white;
			font-weight: 600;
			font-size: rem-calc(18);
			opacity: .75;
			}

		.is-accordion-submenu-parent > a::after {
			display: block;
			width: 0;
			height: 0;
			border: inset 6px;
			content: '';
			border-bottom-width: 0;
			border-top-style: solid;
			border-color: $white transparent transparent;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: 1rem;
			}
	
		.active > a { 
			background-color: lighten($outer-space, 10%); 	
			}
		} //.menu
	} //.off-canvas

.title-bar-title {
	a {
		font-size: 1rem;
		color: $medium-gray;
		}
	}






// MEDIUM & LARGE menu
.top-bar {

	&:hover:not(.button) {
			background-color:$dark-gray;
			}

	.menu {

	a {
		height: $menu-height;
		line-height: $menu-height;
		color: $light-gray;
		padding-top: 0;
		padding-bottom: 0;
		font-weight: bold;
		font-size: 0.8rem;
		line-height: 1;
		}

	.home a {
		font-size: 1rem;
		color: $medium-gray;
		}


	.active > a {
		background-color: lighten($outer-space, 10%);
		}

	> li:not(.menu-text) > a { 
		padding: 1rem;
		}

	li:not(:last-child) {
		border-right: 1px solid $dark-gray;
		}

	&.dropdown {
		.submenu {
			border: 0;
			}
		.has-submenu.is-down-arrow a {
			padding-right: 1rem;
			}
		.has-submenu.is-down-arrow > a::after {
			border: 0;
			}
		&:first-child > li.is-dropdown-submenu-parent > a::after { display: none;
			}
	} //.dropdown

} //.menu

// Basic styles for post navigation. 
// Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation {
	&:before,
	&:after {
		content: "";
		display: table;
		}
		&:after {
		clear:both;
		}
	}

.nav-previous { 
	float:left;
	}
.nav-next {
	float:right;
	}

} //top-bar



